# URL endpoint to Gotenberg microservice (Office ↔ PDF conversion)
# Server Utama (Primary, misal: Docker lokal di port 3000):
GOTENBERG_URL=http://localhost:3000

# Server Cadangan (Fallback, opsional):
GOTENBERG_FALLBACK_URL=http://localhost:3001
